@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=TikTok+Sans:opsz,wght@12..36,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";


body {
    font-family: "Urbanist", sans-serif;
    background-color: #FAFAFA;
}

.iconStyle {
    padding: 4px;
    border-radius: 5px;
    background-color: #fff;
    color: #626262;
    border: 1px solid #F3F5F7;
}

.boxStyle {
    background: #fff;
    padding: 28px;
    border: 1px solid #F2EEF4;
    border-radius: 28px;
}


.text-primary {
    color: #333;
}

.text-secondary {
    color: #626262;

}

.orange {
    background-color: #F67300;
}


@media (max-width: 767px) {
    .iconStyle {
        padding: 6px;
        /* touch friendly */
        border-radius: 6px;
    }

    .boxStyle {
        padding: 16px;
        /* compact */
        border-radius: 16px;
    }
}


input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
    -webkit-appearance: none;
}

input[type="time"]::-webkit-datetime-edit-ampm-field,
input[type="time"]::-webkit-clear-button,
input[type="time"]::-webkit-inner-spin-button {
    display: none;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;

    scrollbar-width: none;
}

.scrollbar-hide {
    -webkit-overflow-scrolling: touch;
}